.home{
    display: flex;
    border: 1px solid midnightblue;
    padding: 15px;
}

.category-list{
    width: 30%;
}

.quotes{
    width: 70%;
}

ul li{
    margin-bottom: 10px;
    font-size: 18px;
}