.author-input{
    border: 1px solid midnightblue;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    font-size: 18px;
}

.text{
    resize: none;
    width: 100%;
    border: 1px solid midnightblue;
    height: 100px;
    margin-bottom: 20px;
    font-size: 18px;

}

.category-select{
    width: 100%;
    padding: 15px 10px;
    border: 1px solid midnightblue;
    margin-bottom: 20px;
    font-size: 18px;
}

.add-quote-form label{
    font-size: 20px;
   padding: 15px 0;
}

.submit-btn{
    border: 3px solid midnightblue;
    padding: 15px 50px;
    font-size: 18px;
    background-color: white;
    margin-bottom: 20px;
}

.submit-btn:hover{
    background-color: midnightblue;
    color: white;
}