header{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.links a{
    text-decoration: none;
    border: 1px solid midnightblue;
    display: inline-block;
    margin-left: 5px;
    padding: 15px 30px;
}

.links a:hover {
    background-color: midnightblue;
    color: white;
    cursor: pointer;
}

