.one-quote{
    display: flex;
    justify-content: space-between;
    border: 2px solid midnightblue;
    padding: 15px;
    margin-bottom: 10px;
}
.quote-info{
    width: 60%;
}

.buttons{
    width: 40%;
    align-self: center;
}

.edit-btn, .delete-btn{
    border: 3px solid midnightblue;
    padding: 10px 20px;
    background-color: white;
    margin-left: 5px;
    font-size: 16px;
    cursor: pointer;
}

.edit-btn:hover, .delete-btn:hover{
    background-color: midnightblue;
    color: white;
}